{
  "extends": [
    "react-app",
    "plugin:jsx-a11y/recommended"
  ],
  "rules": {
    "additional-rule": "warn"
  },
  "overrides": [
    {
      "files": [
        "**/*.ts?(x)"
      ],
      "rules": {
        "additional-typescript-only-rule": "warn"
      }
    }
  ]
}